Pandas is a data manipulation and analysis library for Python. It provides powerful data structures for efficiently working with structured data.

1. Installation:
You can install Pandas using the following command:

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\omen 16\appdata\local\programs\python\python310\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\omen 16\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\omen 16\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\omen 16\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\omen 16\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.25.1)
Requirement already satisfied: six>=1.5 in c:\users\omen 16\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

2. Data Structures:
Pandas has two primary data structures: Series (1D) and DataFrame (2D).

In [5]:
import pandas as pd

# Creating a Series
series = pd.Series([10,20,30,40,50])

# DataFram --> from a dictionary

data = {
    'Name':  ['Alice', 'Bob', 'Charlie'],
    'Age': [10,20,30]
}

df = pd.DataFrame(data)
df

      Name  Age
0    Alice   10
1      Bob   20
2  Charlie   30

3. Data Manipulation:

In [12]:
# Accessing columns
ages = df['Age']

# Filtering rows
young_people = df[df['Age'] < 30]
young_people = df[ages < 30]


#adding columns 
df['Gender'] = ['Female', 'Male', 'Male']

# Applying functions
df['AgeSquared'] = df['Age'].apply(lambda x: x ** 2 )
df

      Name  Age  Gender  AgeSquared
0    Alice   10  Female         100
1      Bob   20    Male         400
2  Charlie   30    Male         900

4. Reading and Writing Data:

In [17]:
# Reading data from CSV files
csv_data = pd.read_csv('carprices.csv')

# writing data to a CSV file
df.to_csv('out_put.csv', index=False)

5. Data Aggregation

In [35]:
group_name = [x for x,y in df.groupby('Gender')]
group_data = [y for x,y in df.groupby('Gender')]
print(group_name)
print('\n\n')
print(group_data)
# grouped = df.groupby('Gender')['Age'].mean()
# print(grouped)

['Female', 'Male']



[    Name  Age  Gender  AgeSquared
0  Alice   10  Female         100,       Name  Age Gender  AgeSquared
1      Bob   20   Male         400
2  Charlie   30   Male         900]

In [37]:
# Iterating through the groups and printing each group
for group_name, group_data in df.groupby('Gender'):
    print(f"Group: {group_name}")
    print(group_data)
    print()  # Empty line for separation

Group: Female
    Name  Age  Gender  AgeSquared
0  Alice   10  Female         100

Group: Male
      Name  Age Gender  AgeSquared
1      Bob   20   Male         400
2  Charlie   30   Male         900

Bonus: 
    1. Zip Concept
    2. Spread Operator 
    3. List Comprehension

### 1. Zip Concept

The zip function generates an iterator that yields tuples containing elements from the input iterables.
It stops creating tuples when the shortest input iterable is exhausted.
zip(iterable1, iterable2, ...)

In [40]:
# 1 - Combining Lists:

names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 28]

for name, age in zip(names, ages):
    print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 28 years old

In [41]:
#  Combining Lists of Different Lengths:

names = ['Alice', 'Bob', 'Charlie']
scores = [95, 82]

for name, score in zip(names, scores):
    print(f"{name} scored {score}")

Alice scored 95
Bob scored 82

In [42]:
# you can n number lists 
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = [10, 20, 30]

combined = zip(list1, list2, list3)

for item in combined:
    print(item)

(1, 'a', 10)
(2, 'b', 20)
(3, 'c', 30)

### 2. Spread Operator
You can use the * operator to unpack elements 
from a list (or other iterable) and pass them 
as separate arguments to a function.